<div class="col-sm-3 navbar-wrapr">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a 
    class="navbar-toggler menu-toggle"
    [ngClass]="isClicked % 2 === 0 ? 'isClicked' : ''"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggleExternalContent"
    aria-controls="navbarToggleExternalContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="increaseCount()">
      <span class="">Menu</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <div class="bg-transparent p-1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let link of links">
          <a class="nav-link" [routerLinkActive]="['active']"  [routerLink]="link" >{{link}}</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</div>

<div class="col-12 p-0">
  <router-outlet></router-outlet>
</div>
