@font-face {
    font-family: 'poppins-bold';
    src: url(./assets/fonts/Poppins-Bold.otf) format('otf'),
         url(./assets/fonts/Poppins-Bold.ttf) format('truetype'),
         url(./assets/fonts/Poppins-Bold.woff) format('woff');
  }
  @font-face {
    font-family: 'poppins-semibold';
    src: url(./assets/fonts/Poppins-SemiBold.otf) format('otf'),
         url(./assets/fonts/Poppins-SemiBold.ttf) format('truetype'),
         url(./assets/fonts/Poppins-SemiBold.woff) format('woff');
  }
  @font-face {
    font-family: 'poppins-regular';
    src: url(./assets/fonts/Poppins-Regular.otf) format('otf'),
         url(./assets/fonts/Poppins-Regular.ttf) format('truetype'),
         url(./assets/fonts/Poppins-Regular.woff) format('woff');
  }
  @font-face {
    font-family: 'poppins-medium';
    src: url(./assets/fonts/Poppins-Medium.otf) format('otf'),
         url(./assets/fonts/Poppins-Medium.ttf) format('truetype'),
         url(./assets/fonts/Poppins-Medium.woff) format('woff');
  }
